/* CSS RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* JUMBO SECTION */

.jumbo{
    height: calc(100vh - 70px);
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("assets/Jumbo-sfondo.jpg");
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    flex-direction: column;

}

.jumbo h1{
    color: white;
    text-align: center;
    font-size: 100px;
    font-style: italic;
}

/* CTA JUMBO */

.btn1, .btn2{
    margin: 40px 20px 0 20px;
    padding: 12px;
    border-radius: 8px;
    font-size: 22px;
    text-decoration: none;
    font-weight: 700;
    text-align: center;
}

.jumbo .btn1{ 
    background-color: white;
    color: black;
}

.jumbo .btn2{
    background-color:rgb(160, 124, 4);
    color: black;
}

.btn1:hover, .btn2:hover{
    /* font-size: 32px; */
    background-color: black;
    color: rgb(160, 124, 4);
}

/* SEZIONE 1 */

.sec{
    border: 2px solid rgb(160, 124, 4);
    margin-top: 32px;
}

.sec img{
    width: 300px;
    height: auto;;
    margin: 32px;
}

.description{
    color: white;;
    flex-direction: column;
    margin: 32px;
    align-items: start;
}

.description h2{
    margin-bottom: 32px;
    font-size: 32px;
}

.sec1{
    flex-direction: row-reverse;
}

.divider{
    display: none;
}

/* SEZIONE 2 */

#secondSec{
    flex-direction: column;
}

#secondSec h2{
    font-size: 32px;
    color: white;
    margin-top: 70px;
    margin-bottom: 24px;
}

.discover img{
    width: 300px;
    height: 300px;
    margin: 32px;
}

/* MEDIA QUERY TABLET */

@media only screen and (max-width:1024px){

    .jumbo h1{
        color: white;
        text-align: center;
        font-size: 64px;
    }

    /* PRIMA SEZIONE */

    .sec{
        flex-direction: column;
        border: 0;
        margin-top: 32px;
    }
    
    .description{
        align-items: center;
        text-align: center;
    }

    /* DIVIDER */

    .divider{
        display: block;
        text-align: center;
        margin-top: 50px;
    }

    .divider img{
        width: 200px;
        height: auto;
        text-align: center;   
    }

    /* SECONDA SEZIONE */

    .discover{
        flex-direction: column; 
    }

}


/* MEDIA QUERY MOBILE */

@media only screen and (max-width:430px){
    /* HEADER */

    .jumbo h1{
        color: white;
        text-align: center;
        font-size: 40px;
    }

    .btn1, .btn2{
        margin: 20px 20px 0 20px;
        padding: 6px;
        border-radius: 8px;
        font-size: 16px;
    }


}