/* CSS RESET */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ASSETS */

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper{
    max-width: 1600px;
    margin: 0 auto;
    width: 100%;
    height: 100%;
    justify-content: space-between;
}

body{
    height: 100vh;
    background-color: black;
    font-family: 'Lora', serif;
}

/* NAVBAR */

nav{
    background-color: black;
    height: 70px;
    /* border-bottom: 1px solid white; */
}

.logo img{
    height: 40px;
    width: 40px;
    margin-left: 20px;
}

nav .menu a{
    color: white;
    text-decoration: none;
}

nav .menu li{
    list-style: none;
    margin: 20px;
    font-size: 20px;
}

nav .menu a:hover{
    color: rgb(226, 194, 15);
}



